name: build

on: push

jobs:
  simple-test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: mkdir output
      - uses: kitada-haiiro/congenial-potato@master
        env:
          # PREVIEW_BRANCH: preview
          # BUILD_DIR: .
          TOKEN: ${{ secrets.TOKEN }}