name: build

on: push

jobs:
  simple-test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: kitada-haiiro/markdown2pdf4jp@master
        env:
          BUILD_DIR: tests
          TOKEN: ${{ secrets.TOKEN }}
        with:
          args: >-
            -V luatexjapresetoption=ms
            -V documentclass=ltjsarticle

  tate-test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: kitada-haiiro/markdown2pdf4jp@master
        env:
          BUILD_DIR: tests
          TOKEN: ${{ secrets.TOKEN }}
        with:
          args: >-
            -V luatexjapresetoption=ms
            -V documentclass=ltjtarticle

  template-test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: kitada-haiiro/markdown2pdf4jp@master
        env:
          BUILD_DIR: tests
          TOKEN: ${{ secrets.TOKEN }}
        with:
          args: >-
            -V luatexjapresetoption=ms
            -V documentclass=ltjtarticle
            -H tate.sty

